<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>HawkeyeTestApplication</display-name>
 <listener>
    <listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
  </listener>
  <servlet>
    <servlet-name>WebService</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebService</servlet-name>
    <url-pattern>/testWS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sqlTestServlet</servlet-name>
    <servlet-class>com.sample.testapp.SQLTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqlTestServlet</servlet-name>
    <url-pattern>/sqlTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraceTestServlet</display-name>
    <servlet-name>TraceTestServlet</servlet-name>
    <servlet-class>com.sample.testapp.TraceTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraceTestServlet</servlet-name>
    <url-pattern>/TraceTestServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>Cpindex.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>WebServiceTestServlet</display-name>
    <servlet-name>WebServiceTestServlet</servlet-name>
    <servlet-class>com.sample.testapp.WebServiceTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebServiceTestServlet</servlet-name>
    <url-pattern>/WebServiceTestServlet</url-pattern>
  </servlet-mapping>
</web-app>