<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestApplication</display-name>
  <listener>
    <listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
  </listener>
  <servlet>
    <servlet-name>WebService</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebService</servlet-name>
    <url-pattern>/testWS</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sqlTestServlet</servlet-name>
    <servlet-class>com.sample.testapp.SQLTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sqlTestServlet</servlet-name>
    <url-pattern>/sqlTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TraceTestServlet</display-name>
    <servlet-name>TraceTestServlet</servlet-name>
    <servlet-class>com.sample.testapp.TraceTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraceTestServlet</servlet-name>
    <url-pattern>/TraceTestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DisplayBeanServlet</servlet-name>
    <servlet-class>com.hawkeye.servlet.DisplayBeanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayBeanServlet</servlet-name>
    <url-pattern>/DisplayBeanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TraceDisplayBeanServlet</servlet-name>
    <servlet-class>com.hawkeye.servlet.TraceDisplayBeanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TraceDisplayBeanServlet</servlet-name>
    <url-pattern>/TraceDisplayBeanServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MaintenanceServlet</display-name>
    <servlet-name>MaintenanceServlet</servlet-name>
    <servlet-class>com.hawkeye.servlet.MaintenanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MaintenanceServlet</servlet-name>
    <url-pattern>/MaintenanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StatsCollectorServlet</display-name>
    <servlet-name>StatsCollectorServlet</servlet-name>
    <servlet-class>com.hawkeye.servlet.StatsCollectorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatsCollectorServlet</servlet-name>
    <url-pattern>/StatsCollectorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemoryUIServlet</display-name>
    <servlet-name>MemoryUIServlet</servlet-name>
    <servlet-class>com.hawkeye.servlet.MemoryUIServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemoryUIServlet</servlet-name>
    <url-pattern>/MemoryUIServlet</url-pattern>
  </servlet-mapping>
</web-app>